<%- include('../../shared/includes/head' , {title:"Create Account - Moneyhub"}) %>
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include("../../shared/includes/header") %>
<main>
    <h1>Create New Account</h1>
    <% if (inputData.errorMessage) { %>
      <section class="alert">
        <h2>Invalid Input</h2>
        <p><%= inputData.errorMessage %></p>
      </section>
  <% } %>
    <form action="/create-account" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <label for="fullname">Full Name: </label>
        <input type="text" name="fullname" value="<%=inputData.fullname%>" id="fullname" required>
        <label for="birthday">Date of Birth: </label>
        <input type="date" name="birthday" value="<%=inputData.birthday%>" id="birthday" required>
        <label for="street">Street: </label>
        <input type="text" name="street" value="<%= inputData.street%>" id="street" required>
        <label for="city">City: </label>
        <input type="text" name="city" value="<%= inputData.city%>" id="city" required>
        <label for="postalCode">Postal Code: </label>
        <input type="number" name="postalCode" value="<%= inputData.postalCode%>" id="postalCode" minlength="5" maxlength="5" required>
        <center>
            <hr>
        </center>
        <label for="email">Email: </label>
        <input type="email" name="email" value="<%= inputData.email%>" id="email" required>
        <label for="password">Set Password: </label>
        <input type="password" name="password" value="<%= inputData.password%>" id="password" minlength="8" required>
        <label for="confirm-password">Confirm Password: </label>
        <input type="password" name="confirm-password" value="<%= inputData.comfirmPassword%>" id="confirm-password" required>
        <button>Create New Account</button>
    </form>
    <p>Or <a href="/login">Login Instead</a></p>
</main>
<%- include("../../shared/includes/footer") %>
